/* Adding beauty modifiers to the site itself here. */

/* Split the screen into two */
.split {
  height: 100%;
  position: fixed;
  z-index: 1;
  top: 0;
  overflow-x: hidden;
  padding-top: 20px;
}

/* Handle the left hand side of the screen */
.left {
  border: 1px solid black;
  left: 0;
  width: 75%;
}

/* Handle the right hand side of the screen */
.right {
  border: 1px solid black;
  right: 0;
  width: 25%;
}