/* Adding beauty modifiers to the site itself here. */

/* Split the screen into two */
.split {
  height: 100%;
  position: fixed;
  z-index: 1;
  top: 0;
  overflow-x: hidden;
  padding-top: 20px;
}

/* Handle the left hand side of the screen */
.left {
  border: 1px solid black;
  left: 0;
  width: 75%;
}

/* Handle the right hand side of the screen */
.right {
  border: 1px solid black;
  right: 0;
  width: 25%;
}

/* Handle the Days of the Week */
#Monday.col, #Tuesday.col, #Wednesday.col, #Thursday.col, #Friday.col {
  width: 15%;
  text-align: center;
  border: 2px solid black;
}

/* Handle the Buttons */
#Logins.row, #Theme.row {
  justify-content: center;
}


/* AWSMCOLOR theme colors @awsmcolor instagram handle */
/*
  Cotton Candy
    Candy Floss EFA8E4 239, 168, 228
    Cherry Pearl F8E1F4 243, 225, 244
    Lynx White F7F7F7 247, 247, 247
    Blizzard Blue 97E5EF 151, 229, 239

  Sea Scape
    Marine Blue 043353 4, 51, 83
    Bright Cerulean 18A4E0 24, 164, 224
    Milk Glass FAF8F0 250, 248, 240
    Nordic Breeze D3DDE6 211, 221, 230

  Autumn Breeze
    Carnelian B21919 178, 25, 25
    Blaze Orange EB6D18 235, 109, 24
    Hot Sun F7AF25 247, 175, 37
    Sepia Wash 98521A 152, 82, 26

  Foggy Forest
    Gravel Dust BABAAB 186, 186, 171
    Timberwolf D6D6CD 214, 214, 205
    White Picket Fence F0EFEA 240, 239, 234
    Sweet Florence 8DA077 141, 160, 119

  Caffe Latte (Default)
    Sepia 9D513D 157, 81, 61
    Coral Reef C4B59F 196, 181, 159
    Alabaster F3EFE3 243, 239, 227
    Paper Brown D5AD7D 213, 173, 125
*/